body {
    background-image: url("../images/synthwave_bg.jpg");
    background-color: #000000;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px; /* adjust to navbar height */
    font-family: 'Orbitron';
    max-width: 100%;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/synthwave_bg.jpg") center/100% 100% no-repeat;
    filter: blur(8px);
    transform: scale(1.1); /* prevents blur edges from showing */
    z-index: -1;
    filter: brightness(50%)
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* stays above page content */
    background-color: rgba(0, 0, 0, 0.5); /* solid or semi-transparent */
}

h1, h2, p {
    color: white;
}

html {
    font-size: 14px;
    max-width: 100%;
    overflow-x: hidden;
}

.form-container {
    background-color: black;
    border-radius: 10px;
    padding: 30px;
    color: white;
}

.row {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#easterEggContainer {
    display: none;
    position: fixed;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    transition: bottom 2s ease-in-out;
}

#easterEggImage {
    max-width: 200px;
    max-height: 200px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.5));
}