@{
    ViewData["Title"] = "Account Banned";
}

<div class="text-center">
    <h1 class="text-danger">Account Banned</h1>
    <p>Your account has been banned by an administrator.</p>
    <p>Please contact support if you believe this is an error.</p>
</div>